

body {

    font-size: 18px;
    margin: 20px;
}

h1 {
    font-size: 14px;
}

h2 {}

img {
    max-width: 100%;
}

figure {
    margin: 0;
}

@media screen and (min-width: 720px) {
    h1 {
        font-size: 20px;
    }
}


@media screen and (min-width: 960px) {
    body { 
        background-color: #f0f0f0; 
        font-size: 20px;
        margin: 40px; 
    }

    figure {
        float: left;
        width: 48%; 
        margin: 10px;
    }
}


@media screen and (min-width: 1200px) {
    body {
        background-color: #e0e0e0; 
        font-size: 22px; 
        margin: 60px; 
        max-width: 1200px; 
        margin-left: auto; 
        margin-right: auto; 
    }

    figure {
        float: left;
        width: 30%; 
        margin: 10px;
    }
}
